@media only screen and (max-width: 767px) {
  .subtitle61 {
    font-size: 12px !important;
  }

  .title61 {
    font-size: 12px !important;
  }

  .details61 {
    font-size: 12px !important;
  }

  .subtitle62 {
    font-size: 12px !important;
  }

  .title62 {
    font-size: 12px !important;
  }

  .details62 {
    font-size: 12px !important;
  }

  .subtitle63 {
    font-size: 12px !important;
  }

  .title63 {
    font-size: 12px !important;
  }

  .details63 {
    font-size: 12px !important;
  }

  .subtitle64 {
    font-size: 12px !important;
  }

  .title64 {
    font-size: 12px !important;
  }

  .details64 {
    font-size: 12px !important;
  }

  .subtitle65 {
    font-size: 12px !important;
  }

  .title65 {
    font-size: 12px !important;
  }

  .details65 {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subtitle61 {
    font-size: 0px !important;
  }

  .title61 {
    font-size: 0px !important;
  }

  .details61 {
    font-size: 0px !important;
  }

  .subtitle62 {
    font-size: 0px !important;
  }

  .title62 {
    font-size: 0px !important;
  }

  .details62 {
    font-size: 0px !important;
  }

  .subtitle63 {
    font-size: 0px !important;
  }

  .title63 {
    font-size: 0px !important;
  }

  .details63 {
    font-size: 0px !important;
  }

  .subtitle64 {
    font-size: 0px !important;
  }

  .title64 {
    font-size: 0px !important;
  }

  .details64 {
    font-size: 0px !important;
  }

  .subtitle65 {
    font-size: 0px !important;
  }

  .title65 {
    font-size: 0px !important;
  }

  .details65 {
    font-size: 0px !important;
  }
}